In [2]:
# Roster Database Operations
import sqlite3

# Create a new SQLite database named "roster.db"
conn = sqlite3.connect('roster.db')
cursor = conn.cursor()

# Create the Roster table with the specified schema
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Roster (
        Name TEXT,
        Species TEXT,
        Age INTEGER
    )
''')

# Commit the changes and close the connection
conn.commit()

In [3]:
# Insert the given data into the Roster table
cursor.executemany('''
    INSERT INTO Roster (Name, Species, Age)
    VALUES (?, ?, ?)
''', [
    ('Benjamin Sisko', 'Human', 40),
    ('Jadzia Dax', 'Trill', 300),
    ('Kira Nerys', 'Bajoran', 29)
])

# Commit the changes
conn.commit()

In [4]:
# Update the Name of "Jadzia Dax" to "Ezri Dax"
cursor.execute('''
    UPDATE Roster
    SET Name = 'Ezri Dax'
    WHERE Name = 'Jadzia Dax'
''')

# Commit the changes
conn.commit()

In [5]:
# Retrieve and display Name and Age of characters where the Species is "Bajoran"
cursor.execute('''
    SELECT Name, Age
    FROM Roster
    WHERE Species = 'Bajoran'
''')

# Fetch and print results
bajoran_characters = cursor.fetchall()
for character in bajoran_characters:
    print(f"Name: {character[0]}, Age: {character[1]}")

Name: Kira Nerys, Age: 29

In [6]:
# Remove all characters aged over 100 years from the table
cursor.execute('''
    DELETE FROM Roster
    WHERE Age > 100
''')

# Commit the changes
conn.commit()

In [7]:
# Add a new column "Rank" to the Roster table
cursor.execute('''
    ALTER TABLE Roster
    ADD COLUMN Rank TEXT
''')

# Update the Rank values
cursor.executemany('''
    UPDATE Roster
    SET Rank = ?
    WHERE Name = ?
''', [
    ('Captain', 'Benjamin Sisko'),
    ('Lieutenant', 'Ezri Dax'),
    ('Major', 'Kira Nerys')
])

# Commit the changes
conn.commit()

In [8]:
# Retrieve all characters sorted by their Age in descending order
cursor.execute('''
    SELECT Name, Age
    FROM Roster
    ORDER BY Age DESC
''')

# Fetch and print results
sorted_characters = cursor.fetchall()
for character in sorted_characters:
    print(f"Name: {character[0]}, Age: {character[1]}")

Name: Benjamin Sisko, Age: 40
Name: Kira Nerys, Age: 29

In [9]:
# Library Database Operations
# Create a new SQLite database named "library.db"
conn = sqlite3.connect('library.db')
cursor = conn.cursor()

# Create the Books table with the specified schema
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Books (
        Title TEXT,
        Author TEXT,
        Year_Published INTEGER,
        Genre TEXT
    )
''')

# Commit the changes
conn.commit()

In [10]:
# Insert the given data into the Books table
cursor.executemany('''
    INSERT INTO Books (Title, Author, Year_Published, Genre)
    VALUES (?, ?, ?, ?)
''', [
    ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction'),
    ('1984', 'George Orwell', 1949, 'Dystopian'),
    ('The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Classic')
])

# Commit the changes
conn.commit()

In [11]:
# Update the Year_Published of "1984" to 1950
cursor.execute('''
    UPDATE Books
    SET Year_Published = 1950
    WHERE Title = '1984'
''')

# Commit the changes
conn.commit()

In [ ]:
# Retrieve and display Title and Author of books where the Genre is "Dystopian"
cursor.execute('''
    SELECT Title, Author
    FROM Books
    WHERE Genre = 'Dystopian'
''')

# Fetch and print results
dystopian_books = cursor.fetchall()
for book in dystopian_books:
    print(f"Title: {book[0]}, Author: {book[1]}")

In [12]:
# Remove all books published before the year 1950
cursor.execute('''
    DELETE FROM Books
    WHERE Year_Published < 1950
''')

# Commit the changes
conn.commit()

In [13]:
# Add a new column "Rating" to the Books table
cursor.execute('''
    ALTER TABLE Books
    ADD COLUMN Rating REAL
''')

# Update the Rating values
cursor.executemany('''
    UPDATE Books
    SET Rating = ?
    WHERE Title = ?
''', [
    (4.8, 'To Kill a Mockingbird'),
    (4.7, '1984'),
    (4.5, 'The Great Gatsby')
])

# Commit the changes
conn.commit()

In [14]:
# Retrieve all books sorted by their Year_Published in ascending order
cursor.execute('''
    SELECT Title, Year_Published
    FROM Books
    ORDER BY Year_Published ASC
''')

# Fetch and print results
sorted_books = cursor.fetchall()
for book in sorted_books:
    print(f"Title: {book[0]}, Year Published: {book[1]}")

Title: 1984, Year Published: 1950
Title: To Kill a Mockingbird, Year Published: 1960

In [15]:
# Close the database connection
conn.close()