In [4]:
universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]

In [61]:
def enrollment_stats(universities):
    import numpy as np
    student_enrollment_values = [i[1] for i in universities]
    tuition_fees = [j[2] for j in universities]

    Total_students = "{:,}".format(sum(student_enrollment_values))
    Total_tuition = "{:,}".format(sum(tuition_fees))
    Student_mean = "{:,}".format(np.mean(student_enrollment_values))
    Student_median = "{:,}".format(np.median(student_enrollment_values))

    Tuition_mean = "{:,}".format(np.mean(tuition_fees))
    Tuition_median = "{:,}".format(np.median(tuition_fees))
    print(f"""
******************************
Total students: {round(Total_students, 3)}
Total tuition: $ {Total_tuition}

Student mean: {Student_mean}
Student median: {Student_median}

Tuition mean: $ {Tuition_mean}
Tuition median: $ {Tuition_median}
******************************
""")

In [62]:
enrollment_stats(universities)

TypeError: type str doesn't define __round__ method

In [63]:
import numpy as np

def enrollment_stats(universities):
    # Extract student enrollment and tuition fees
    student_enrollment_values = [i[1] for i in universities]
    tuition_fees = [j[2] for j in universities]

    # Calculate totals, means, and medians
    total_students = sum(student_enrollment_values)
    total_tuition = sum(tuition_fees)
    student_mean = np.mean(student_enrollment_values)
    student_median = np.median(student_enrollment_values)
    tuition_mean = np.mean(tuition_fees)
    tuition_median = np.median(tuition_fees)

    # Format the results
    formatted_total_students = "{:,}".format(total_students)
    formatted_total_tuition = "${:,.2f}".format(total_tuition)  # Format with $ and two decimals
    formatted_student_mean = "{:,.2f}".format(student_mean)
    formatted_student_median = "{:,.2f}".format(student_median)
    formatted_tuition_mean = "${:,.2f}".format(tuition_mean)
    formatted_tuition_median = "${:,.2f}".format(tuition_median)

    # Print the results
    print(f"""
******************************
Total students: {formatted_total_students}
Total tuition: {formatted_total_tuition}

Student mean: {formatted_student_mean}
Student median: {formatted_student_median}

Tuition mean: {formatted_tuition_mean}
Tuition median: {formatted_tuition_median}
******************************
""")

In [64]:
enrollment_stats(universities)

******************************
Total students: 77,285
Total tuition: $271,905.00

Student mean: 11,040.71
Student median: 10,566.00

Tuition mean: $38,843.57
Tuition median: $39,849.00
******************************