In [2]:
import sqlite3

# 1. Yangi SQLite bazasini yaratish va ulanish
with sqlite3.connect("roster.db") as con:
    cursor = con.cursor()
    
    # 2. Jadval yaratish
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS Roster (
            Name TEXT,
            Species TEXT,
            Age INTEGER
        )
    """)

    # 3. Ma’lumot qo‘shish
    cursor.executemany("""
        INSERT INTO Roster (Name, Species, Age) VALUES (?, ?, ?)
    """, [
        ("Benjamin Sisko", "Human", 40),
        ("Jadzia Dax", "Trill", 300),
        ("Kira Nerys", "Bajoran", 29)
    ])

    # 4. Jadzia Dax ismini Ezri Daxga o‘zgartirish
    cursor.execute("""
        UPDATE Roster SET Name = 'Ezri Dax' WHERE Name = 'Jadzia Dax'
    """)

    # 5. Bajoran bo‘lgan belgilarni chiqarish
    cursor.execute("SELECT Name, Age FROM Roster WHERE Species = 'Bajoran'")
    print("Bajoranlar:", cursor.fetchall())

    # 6. 100 yoshdan katta bo‘lganlarni o‘chirish
    cursor.execute("DELETE FROM Roster WHERE Age > 100")

    # 7. Bonus: "Rank" ustunini qo‘shish va ma’lumot yangilash
    cursor.execute("ALTER TABLE Roster ADD COLUMN Rank TEXT")
    
    updates = [
        ("Benjamin Sisko", "Captain"),
        ("Ezri Dax", "Lieutenant"),
        ("Kira Nerys", "Major")
    ]
    for name, rank in updates:
        cursor.execute("UPDATE Roster SET Rank = ? WHERE Name = ?", (rank, name))

    # 8. Yosh bo‘yicha kamayish tartibida chiqarish
    cursor.execute("SELECT * FROM Roster ORDER BY Age DESC")
    print("Yosh bo‘yicha tartiblangan:", cursor.fetchall())

Bajoranlar: [('Kira Nerys', 29)]
Yosh bo‘yicha tartiblangan: [('Benjamin Sisko', 'Human', 40, 'Captain'), ('Kira Nerys', 'Bajoran', 29, 'Major')]

In [1]:
import sqlite3

# 1. Yangi bazani yaratish va ulanish
with sqlite3.connect("library.db") as con:
    cursor = con.cursor()
    
    # 2. Kitoblar jadvalini yaratish
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS Books (
            Title TEXT,
            Author TEXT,
            Year_Published INTEGER,
            Genre TEXT
        )
    """)

    # 3. Ma’lumot qo‘shish
    cursor.executemany("""
        INSERT INTO Books (Title, Author, Year_Published, Genre) VALUES (?, ?, ?, ?)
    """, [
        ("To Kill a Mockingbird", "Harper Lee", 1960, "Fiction"),
        ("1984", "George Orwell", 1949, "Dystopian"),
        ("The Great Gatsby", "F. Scott Fitzgerald", 1925, "Classic")
    ])

    # 4. "1984" kitobining yilini 1950 ga o‘zgartirish
    cursor.execute("""
        UPDATE Books SET Year_Published = 1950 WHERE Title = '1984'
    """)

    # 5. Dystopian janridagi kitoblarni chiqarish
    cursor.execute("SELECT Title, Author FROM Books WHERE Genre = 'Dystopian'")
    print("Dystopian kitoblar:", cursor.fetchall())

    # 6. 1950-yildan oldin nashr qilingan kitoblarni o‘chirish
    cursor.execute("DELETE FROM Books WHERE Year_Published < 1950")

    # 7. Bonus: "Rating" ustunini qo‘shish va yangilash
    cursor.execute("ALTER TABLE Books ADD COLUMN Rating REAL")
    
    ratings = [
        ("To Kill a Mockingbird", 4.8),
        ("1984", 4.7),
        ("The Great Gatsby", 4.5)
    ]
    for title, rating in ratings:
        cursor.execute("UPDATE Books SET Rating = ? WHERE Title = ?", (rating, title))

    # 8. Kitoblarni nashr yiliga qarab oshish tartibida chiqarish
    cursor.execute("SELECT * FROM Books ORDER BY Year_Published ASC")
    print("Yil bo‘yicha tartiblangan:", cursor.fetchall())

Dystopian kitoblar: [('1984', 'George Orwell')]
Yil bo‘yicha tartiblangan: [('1984', 'George Orwell', 1950, 'Dystopian', 4.7), ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction', 4.8)]